/*Initialize global attributes*/
body {
	font: 1.6em "Lato", verdana;
	line-height: 1.6;
	color: #FFFFDD;
}



/*Override Bootstrap default paddings for headings and paragraphs*/
section h2.col-sm-2,
footer h2.col-sm-2 {
	padding: 141px 15px 15px;
}

section h3.col-sm-10,
footer h3.col-sm-10 {
	padding: 15px;
}

section p.col-sm-10,
footer p.col-sm-10 {
	padding: 10px 15px;
}



/*Link stylings, with vendor prefixes for color transitions*/
a,
a:visited,
a:active,
a:focus {
	-webkit-transition: color 200ms;
	   -moz-transition: color 200ms;
	    -ms-transition: color 200ms;
	     -o-transition: color 200ms;
	     	transition: color 200ms;

	color: #E0E0A0;
	text-decoration: none;
}

a.isHoverable:hover {
	-webkit-transition: color 200ms;
	   -moz-transition: color 200ms;
	    -ms-transition: color 200ms;
	     -o-transition: color 200ms;
	     	transition: color 200ms;

	color: #FFFFFF;
	text-decoration: none;
}



/*Color scheme for entire document*/
section#landing,
section#goals {
	background-color: #06557A;	
}

section#about,
section#experience {
	background-color: #856A5A;
}

footer h2,
footer h3 {
	color: rgb(21, 27, 31);
}

/* #pageHeader background color transitions from 80% opaque to 100% when hovering*/
header#pageHeader {
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 1000;

	-webkit-transition: background-color 400ms;
	   -moz-transition: background-color 400ms;
	    -ms-transition: background-color 400ms;
	     -o-transition: background-color 400ms;
	     	transition: background-color 400ms;

	background-color: rgba(21, 27, 31, 0.8);
	border-bottom: 0.3em solid rgb(21, 27, 31);
}

/*Transition only applies to devices without touch capability,
otherwise these hover states would stick when clicked on touchscreen*/
header#pageHeader.isHoverable:hover {
	-webkit-transition: background-color 400ms;
	   -moz-transition: background-color 400ms;
	    -ms-transition: background-color 400ms;
	     -o-transition: background-color 400ms;
	     	transition: background-color 400ms;

	background-color: rgba(21, 27, 31, 1);	
}



/*Set spacing and display for page header navigation*/
header#pageHeader nav {
	padding-left: 15px;
	display: table;
	margin: 0;
	width: 100%;
}



/*Add border to bottom of all sections*/
section {
	border-bottom: 0.4em solid #702D24;
	padding-bottom: 50px
}





/*---LANDING SECTION---*/


/*Landing takes up 100% of viewport height and responds to window resizes*/
section#landing {
	height: 100vh;
}

/*center the objective statement vertically*/
section#landing div.row {
	height: 50vh;
	margin-top: 25vh;
}

section#landing p {
	vertical-align: middle;
	margin-top: 25vh;
	text-align: left;
}

/*Let the landing navigation take up the remaining space in the viewport*/
section#landing nav {
	height: 25vh;
}

/*Initial styling of navigation list and list items*/
section#landing ul {
	list-style: none;
	text-align: right;
}

section#landing li {
	padding: 0 5px;
}

/*When viewport width >= 975px*/
section#landing ul.windowLarge {
	font-size: 1.8em;
}

section#landing ul.windowLarge li {
	display: inline-block;
}

/*When viewport width < 975px*/
section#landing ul.windowSmall {
	font-size: 1.2em;
}





/*---ABOUT SECTION---*/


/*Style image and float left so text wraps*/
section#about img {
	height: 150px;
	width: 150px;
	float: left;
	margin-right: 10px;
	border-radius: 7px;
	box-shadow: 2px 2px rgb(21, 27, 31);
}

/*Size span smaller so it reads like an inner thought*/
section#about span{
	display: block;
	font-size: 0.9em;
	padding: 15px
}

section#about ul {
	list-style: none;
}

/*List items except the first one will have a top padding, this is so that when the text wraps to a new line on a small viewport it is still readable*/
section#about li + li {
	padding-top: 5px;
}





/*---GOALS SECTION---*/


table {
	margin-top: 50px;
}

/*Apply border to bottom of table head and vertical divider between columns*/
thead {
	border-bottom: 2px solid rgb(21, 27, 31);
}

col:first-child {
	border-right: 2px solid rgb(21, 27, 31);
}

td {
	padding: 5px 20px;
}

/*For all table data cells in the left column*/
td:first-child {
	text-align: right;
}





/*---RESUME SECTION---*/


/*Links get a bottom padding so that they don't crowd each other when they stack vertically on really tiny viewport*/
footer img {
	display: inline-block;
	margin: 0 10px 10px 0;
	height: 50px;
	width: 50px;
}

/*Row with the links gets extra padding from the heading and bottom of document*/
footer div.row:nth-child(3) {
	padding-top: 30px;
	padding-bottom: 35px;
}