/*Initialize global attributes*/
body {
	font: 1.6em "Lato", verdana;
	line-height: 1.6;
	color: #FFFFDD;
}



/*When viewport >= 975px*/
@media(min-width: 975px) {
	/*Style the landing nav to be inline-block display items and larger font size*/
	article#landing li {
		font-size: 1.8em;
		display: inline-block;
	}

	/*Keep objective statement in the center of the screen*/
	article#landing section.row {
		margin-top: 25vh;
	}

	/*When scrolling to the top of a article, there is just enough padding to make room for page header*/
	article h2.col-sm-2,
	footer h2.col-sm-2 {
		padding-top: 141px;
	}
}

/*When viewport width < 975px*/
@media(max-width: 974px) {
	/*Landing nav list items are block display and smaller font*/
	article#landing li {
		font-size: 1.2em;
	}

	/*Move objective statement up a bit to make room for mobile device browser controls*/
	article#landing div.row {
		margin-top: 15vh;
	}

	/*Page header is a little bit smaller on mobile*/
	header#pageHeader h1 {
		font-size: 30px;
	}

	header#pageHeader h2 {
		font-size: 20px;
	}

	/*When scrolling to the top of a article, there is just enough padding to make room for page header*/
	article h2.col-sm-2,
	footer h2.col-sm-2 {
		padding-top: 124px;
	}
}



/*Override Bootstrap default paddings for headings and paragraphs*/
article h2.col-sm-2,
footer h2.col-sm-2 {
	padding-bottom: 15px;
}

article h3.col-sm-10,
footer h3.col-sm-10 {
	padding: 15px;
}

article p.col-sm-10,
footer p.col-sm-10 {
	padding: 10px 15px;
}



/*Link stylings, with vendor prefixes for color transitions*/
a,
a:visited,
a:active,
a:focus {
	-webkit-transition: color 200ms;
	   -moz-transition: color 200ms;
	    -ms-transition: color 200ms;
	     -o-transition: color 200ms;
	     	transition: color 200ms;

	color: #E0E0A0;
	text-decoration: none;
}

a.isHoverable:hover {
	-webkit-transition: color 200ms;
	   -moz-transition: color 200ms;
	    -ms-transition: color 200ms;
	     -o-transition: color 200ms;
	     	transition: color 200ms;

	color: #FFFFFF;
	text-decoration: none;
}



/*Color scheme for entire document*/
article#landing,
article#goals {
	background-color: #06557A;	
}

article#about,
article#experience {
	background-color: #856A5A;
}

footer h2,
footer h3 {
	color: rgb(21, 27, 31);
}





/*---PAGE HEADER---*/


/* #pageHeader background color transitions from 80% opaque to 100% when hovering*/
header#pageHeader {
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 1000;

	-webkit-transition: background-color 400ms;
	   -moz-transition: background-color 400ms;
	    -ms-transition: background-color 400ms;
	     -o-transition: background-color 400ms;
	     	transition: background-color 400ms;

	background-color: rgba(21, 27, 31, 0.8);
	border-bottom: 0.3em solid rgb(21, 27, 31);
}

/*Transition only applies to devices without touch capability,
otherwise these hover states would stick when clicked on touchscreen*/
header#pageHeader.isHoverable:hover {
	-webkit-transition: background-color 400ms;
	   -moz-transition: background-color 400ms;
	    -ms-transition: background-color 400ms;
	     -o-transition: background-color 400ms;
	     	transition: background-color 400ms;

	background-color: rgba(21, 27, 31, 1);	
}



/*Set spacing and display for page header navigation*/
header#pageHeader nav {
	padding-left: 15px;
	display: table;
	margin: 0;
	width: 100%;
}



/*Add border to bottom of all articles*/
article {
	border-bottom: 0.4em solid #702D24;
	padding-bottom: 50px
}





/*---LANDING ARTICLE---*/


/*Landing takes up 100% of viewport height and responds to window resizes*/
article#landing {
	height: 100vh;
}

/*center the objective statement vertically*/
article#landing section.row {
	height: 50vh;
}

article#landing p {
	vertical-align: middle;
	margin-top: 25vh;
	text-align: left;
}

/*Initial styling of navigation list and list items*/
article#landing ul {
	list-style: none;
	text-align: right;
	padding-right: 15px;
}

article#landing li {
	padding: 0 5px;
}





/*---ABOUT ARTICLE---*/


/*Style image and float left so text wraps*/
article#about img {
	height: 150px;
	width: 150px;
	float: left;
	margin-right: 10px;
	border-radius: 7px;
	box-shadow: 2px 2px rgb(21, 27, 31);
}

/*Size span smaller so it reads like an inner thought*/
article#about span{
	display: block;
	font-size: 0.9em;
	padding: 15px
}

article#about ul {
	list-style: none;
}

/*List items except the first one will have a top padding, this is so that when the text wraps to a new line on a small viewport it is still readable*/
article#about li + li {
	padding-top: 5px;
}





/*---GOALS ARTICLE---*/


table {
	margin-top: 50px;
}

/*Apply border to bottom of table head and vertical divider between columns*/
thead {
	font-weight: bold;
	border-bottom: 2px solid rgb(21, 27, 31);
}

col:first-child {
	border-right: 2px solid rgb(21, 27, 31);
}

td {
	padding: 5px 20px;
}

/*For all table data cells in the left column*/
td:first-child {
	text-align: right;
}





/*---RESUME ARTICLE---*/


/*Links get a bottom padding so that they don't crowd each other when they stack vertically on really tiny viewport*/
footer img {
	display: inline-block;
	margin: 0 10px 10px 0;
	height: 50px;
	width: 50px;
}

/*Row with the links gets extra padding from the heading and bottom of document*/
footer div.row:nth-child(3) {
	padding-top: 30px;
	padding-bottom: 35px;
}