header#pageHeader {
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 1000;
}

header#pageHeader nav {
	padding-left: 15px;
	display: table;
	margin: 0 auto;
}

section#landing {
	height: 100vh;
}

section#landing ul {
	list-style: none;
}

section#landing li {
	display: inline-block;
}

thead {
	border-bottom: 1px solid black;
}

col#tableColumnLeft {
	border-right: 1px solid black;
}

td {
	padding: 5px 20px;
}

td:first-child {
	text-align: right;
}